* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none; }

.blue {
  background: blue; }

.black {
  background: black; }

.container header {
  height: 80px; }
  .container header .nav-brand {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 2rem; }
  .container header nav {
    float: right; }
    .container header nav ul {
      margin-top: 30px; }
      .container header nav ul li {
        display: inline-block;
        list-style: none;
        margin-left: 10px;
        padding-right: 15px;
        border-right: 1px solid black; }
        .container header nav ul li a {
          color: black; }
      .container header nav ul i {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer; }
      .container header nav ul button {
        margin-left: 10px;
        margin-right: 40px;
        cursor: pointer;
        background: black;
        color: white;
        border: 1px solid black;
        text-transform: uppercase;
        padding: 5px 20px; }

.container #hero .left-hero {
  background-image: url("https://i.ibb.co/BnLVkCb/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 60%;
  float: left;
  position: relative; }
  .container #hero .left-hero h1 {
    font-size: 2.5rem;
    background: black;
    color: white;
    position: absolute;
    left: 80px;
    bottom: 100px; }
  .container #hero .left-hero button {
    position: absolute;
    left: 80px;
    bottom: 50px;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid white;
    cursor: pointer; }

.container #hero .right-hero {
  width: 40%;
  float: right;
  margin: 0;
  background: purple;
  height: 500px; }
  .container #hero .right-hero .program {
    height: 250px;
    position: relative; }
    .container #hero .right-hero .program .img-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 220px;
      margin: 0 auto; }
      .container #hero .right-hero .program .img-wrapper img {
        height: 120px;
        margin-top: 20px;
        z-index: 2; }
    .container #hero .right-hero .program h6 {
      margin-top: 20px;
      text-transform: uppercase;
      margin-left: 30px;
      font-weight: 900; }
    .container #hero .right-hero .program p {
      margin-top: 20px;
      margin-left: 30px;
      float: left;
      width: 70%;
      font-size: 0.8rem;
      line-height: 1.5; }
    .container #hero .right-hero .program i {
      float: right;
      background: black;
      color: white;
      padding: 10px 15px;
      margin-right: 40px;
      margin-top: 20px; }
  .container #hero .right-hero .program:first-child {
    background: pink; }
  .container #hero .right-hero .program:nth-child(2) {
    background: orange; }

.container #about {
  padding-top: 50px; }
  .container #about .about-text {
    width: 650px;
    margin: 540px auto 0; }
    .container #about .about-text h6 {
      text-transform: uppercase;
      margin-top: 50px;
      font-weight: 900; }
    .container #about .about-text p {
      margin-top: 20px;
      margin-bottom: 100px;
      font-size: 2rem;
      font-weight: 100; }
      .container #about .about-text p span:first-child {
        color: red; }
      .container #about .about-text p span:nth-child(3) {
        color: blue; }
      .container #about .about-text p span:nth-child(6) {
        color: pink; }

.container #projects .col-1, .container #projects .col-2, .container #projects .col-3, .container #projects .col-4 {
  width: 25%;
  float: left; }

.container #projects .project-1, .container #projects .project-2, .container #projects .project-3, .container #projects .project-4, .container #projects .project-5, .container #projects .project-6, .container #projects .project-7, .container #projects .project-8 {
  height: 400px;
  text-align: center;
  padding: 20px; }
  .container #projects .project-1 p, .container #projects .project-2 p, .container #projects .project-3 p, .container #projects .project-4 p, .container #projects .project-5 p, .container #projects .project-6 p, .container #projects .project-7 p, .container #projects .project-8 p {
    margin-top: 30px; }

.container #projects .project-wrapper {
  display: inline-block;
  width: 100%;
  padding: 20px 0; }
  .container #projects .project-wrapper .col-1 {
    margin-bottom: -20px;
    margin-top: -20px; }
    .container #projects .project-wrapper .col-1 .project-1 {
      background: black;
      color: white; }
      .container #projects .project-wrapper .col-1 .project-1 h6 {
        padding-top: 50px; }
      .container #projects .project-wrapper .col-1 .project-1 h1 {
        font-size: 2rem;
        margin: 30px 0; }
      .container #projects .project-wrapper .col-1 .project-1 button {
        background: white;
        color: black;
        border: 1px solid white;
        padding: 5px 20px;
        cursor: pointer; }
    .container #projects .project-wrapper .col-1 .project-2 {
      background: lightgrey; }
      .container #projects .project-wrapper .col-1 .project-2 img {
        width: 150px; }
  .container #projects .project-wrapper .col-2 .project-3 {
    background: lightgrey; }
    .container #projects .project-wrapper .col-2 .project-3 img {
      width: 150px; }
  .container #projects .project-wrapper .col-2 .project-4 {
    background: orange;
    color: white; }
    .container #projects .project-wrapper .col-2 .project-4 img {
      width: 150px; }
  .container #projects .project-wrapper .col-3 {
    margin-top: -20px; }
    .container #projects .project-wrapper .col-3 .project-5 {
      background: blue;
      color: white; }
      .container #projects .project-wrapper .col-3 .project-5 img {
        width: 150px; }
    .container #projects .project-wrapper .col-3 .project-6 {
      background: lightgrey; }
      .container #projects .project-wrapper .col-3 .project-6 img {
        width: 150px; }
  .container #projects .project-wrapper .col-4 .project-7 {
    background: lightgrey; }
    .container #projects .project-wrapper .col-4 .project-7 img {
      width: 150px; }
  .container #projects .project-wrapper .col-4 .project-8 {
    background: black;
    color: white; }
    .container #projects .project-wrapper .col-4 .project-8 img {
      width: 150px; }

.container #supporters {
  padding: 50px; }
  .container #supporters .supporter-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .container #supporters .supporter-wrapper .col-1, .container #supporters .supporter-wrapper .col-2, .container #supporters .supporter-wrapper .col-3, .container #supporters .supporter-wrapper .col-4 {
      width: 25%;
      float: left; }
      .container #supporters .supporter-wrapper .col-1 img, .container #supporters .supporter-wrapper .col-2 img, .container #supporters .supporter-wrapper .col-3 img, .container #supporters .supporter-wrapper .col-4 img {
        height: 100px; }
    .container #supporters .supporter-wrapper .col-1 h1 {
      font-size: 2rem;
      font-weight: 100; }
    .container #supporters .supporter-wrapper .col-1 button {
      background: black;
      color: white;
      padding: 10px 60px;
      border: 1px solid black;
      text-transform: uppercase;
      margin-top: 50px;
      cursor: pointer; }

.container #thoughts {
  padding: 50px 80px;
  background: pink;
  height: 550px; }
  .container #thoughts .left-col {
    width: 60%;
    float: left; }
    .container #thoughts .left-col h6 {
      font-weight: 900;
      text-transform: uppercase; }
    .container #thoughts .left-col img {
      height: 390px;
      margin-top: 50px; }
  .container #thoughts .right-col {
    width: 40%;
    float: right;
    margin-top: 64px; }
    .container #thoughts .right-col .row {
      display: block;
      height: 126px;
      position: relative; }
      .container #thoughts .right-col .row img {
        height: 100px;
        float: left; }
      .container #thoughts .right-col .row .text {
        float: right;
        width: 60%;
        padding-left: 40px; }
        .container #thoughts .right-col .row .text a {
          position: absolute;
          bottom: 22px; }
    .container #thoughts .right-col .row:nth-child(1), .container #thoughts .right-col .row:nth-child(2) {
      border-bottom: 2px solid white; }
    .container #thoughts .right-col .row:nth-child(2), .container #thoughts .right-col .row:nth-child(3) {
      margin-top: 20px; }

@media screen and (max-width: 1170px) {
  #thoughts {
    height: 1100px !important; }
    #thoughts .left-col {
      width: 100% !important; }
      #thoughts .left-col img {
        width: 100% !important; }
    #thoughts .right-col {
      width: 100% !important; } }

@media screen and (max-width: 940px) {
  #hero .left-hero {
    width: 100% !important; }
  #hero .right-hero {
    width: 100% !important; }
  #about .about-text {
    width: 100% !important;
    margin: 1040px auto 0 !important;
    padding: 0 50px !important; }
    #about .about-text h6 {
      margin-top: 100px !important; }
    #about .about-text p {
      font-size: 1.6rem !important; }
  #projects .col-1, #projects .col-2, #projects .col-3, #projects .col-4 {
    width: 50% !important; }
  #projects .col-1, #projects .col-3 {
    margin-top: 0 !important; }
  #supporters .col-1, #supporters .col-2, #supporters .col-3, #supporters .col-4 {
    width: 50% !important; } }

@media screen and (max-width: 850px) {
  header .nav-brand {
    font-size: 1.5rem !important;
    margin-top: 30px !important; }
  header nav li, header nav button {
    display: none !important; }
  header nav i {
    margin-right: 20px !important; }
  #about .about-text {
    width: 100% !important;
    margin: 1040px auto 0 !important;
    padding: 0 50px !important; } }

@media screen and (max-width: 500px) {
  #hero .left-hero h1 {
    bottom: 200px !important;
    left: 50px !important; }
  #hero .left-hero button {
    bottom: 150px !important;
    left: 50px !important; }
  #about .about-text {
    width: 100% !important;
    margin: 1040px auto 0 !important;
    padding: 0 50px !important; }
    #about .about-text h6 {
      margin-top: 100px !important; }
    #about .about-text p {
      font-size: 1.2rem !important; }
  #projects .col-1, #projects .col-2, #projects .col-3, #projects .col-4 {
    width: 100% !important; }
    #projects .col-1 .project-1, #projects .col-1 .project-2, #projects .col-1 .project-3, #projects .col-1 .project-4, #projects .col-1 .project-5, #projects .col-1 .project-6, #projects .col-1 .project-7, #projects .col-1 .project-8, #projects .col-2 .project-1, #projects .col-2 .project-2, #projects .col-2 .project-3, #projects .col-2 .project-4, #projects .col-2 .project-5, #projects .col-2 .project-6, #projects .col-2 .project-7, #projects .col-2 .project-8, #projects .col-3 .project-1, #projects .col-3 .project-2, #projects .col-3 .project-3, #projects .col-3 .project-4, #projects .col-3 .project-5, #projects .col-3 .project-6, #projects .col-3 .project-7, #projects .col-3 .project-8, #projects .col-4 .project-1, #projects .col-4 .project-2, #projects .col-4 .project-3, #projects .col-4 .project-4, #projects .col-4 .project-5, #projects .col-4 .project-6, #projects .col-4 .project-7, #projects .col-4 .project-8 {
      padding: 50px !important; }
  #supporters .col-1, #supporters .col-2, #supporters .col-3, #supporters .col-4 {
    width: 100% !important; }
  #thoughts {
    padding: 50px 50px !important; } }
