@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.8px; }

a {
  text-decoration: none; }

.container header {
  height: 80px; }
  .container header .nav-brand {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 2rem; }
  .container header nav {
    float: right; }
    .container header nav ul {
      margin-top: 30px; }
      .container header nav ul li {
        display: inline-block;
        list-style: none;
        margin-left: 10px;
        padding-right: 15px;
        border-right: 1px solid black; }
        .container header nav ul li a {
          padding: 5px 10px;
          color: black; }
          .container header nav ul li a:hover {
            color: #214de4;
            background: #d7d7d7;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out; }
      .container header nav ul i {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer; }
      .container header nav ul button {
        margin-left: 10px;
        margin-right: 40px;
        cursor: pointer;
        background: black;
        color: white;
        border: 1px solid black;
        text-transform: uppercase;
        padding: 5px 20px; }
        .container header nav ul button:hover {
          background: white;
          color: black;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }

.container #hero .left-hero {
  background-image: url("https://i.ibb.co/Km2jFCY/d7hftxdivxxvm-cloudfront.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 60%;
  float: left;
  position: relative; }
  .container #hero .left-hero h1 {
    font-size: 2rem;
    background: black;
    color: white;
    position: absolute;
    left: 80px;
    bottom: 100px;
    line-height: 1.2;
    padding: 10px;
    font-weight: 300; }
  .container #hero .left-hero button {
    position: absolute;
    left: 80px;
    bottom: 50px;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid white;
    cursor: pointer; }
    .container #hero .left-hero button:hover {
      color: white;
      background: #f786b9;
      border: 1px solid #f786b9;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }

.container #hero .right-hero {
  width: 40%;
  float: right;
  margin: 0;
  height: 500px; }
  .container #hero .right-hero .program {
    height: 250px;
    position: relative; }
    .container #hero .right-hero .program .img-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 220px;
      margin: 0 auto; }
      .container #hero .right-hero .program .img-wrapper img {
        height: 120px;
        margin-top: 20px;
        z-index: 2; }
    .container #hero .right-hero .program h6 {
      margin-top: 20px;
      text-transform: uppercase;
      margin-left: 30px;
      font-weight: 900; }
    .container #hero .right-hero .program p {
      margin-top: 20px;
      margin-left: 30px;
      float: left;
      width: 70%;
      font-size: 0.8rem;
      line-height: 1.5; }
    .container #hero .right-hero .program i {
      float: right;
      background: black;
      color: white;
      padding: 10px 15px;
      margin-right: 40px;
      margin-top: 20px;
      cursor: pointer; }
      .container #hero .right-hero .program i:hover {
        color: black;
        background: white;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
  .container #hero .right-hero .program:first-child {
    background: #f786b9; }
  .container #hero .right-hero .program:nth-child(2) {
    background: #f56401; }

.container #about {
  padding-top: 50px; }
  .container #about .about-text {
    width: 650px;
    margin: 540px auto 0; }
    .container #about .about-text h6 {
      text-transform: uppercase;
      margin-top: 50px;
      font-weight: 900; }
    .container #about .about-text p {
      margin-top: 20px;
      margin-bottom: 100px;
      font-size: 2rem;
      font-weight: 100;
      line-height: 1.3; }
      .container #about .about-text p span:first-child {
        color: #da3b22; }
      .container #about .about-text p span:nth-child(3) {
        color: #214de4; }

.container #projects .col-1, .container #projects .col-2, .container #projects .col-3, .container #projects .col-4 {
  width: 25%;
  float: left; }

.container #projects .project-1, .container #projects .project-2, .container #projects .project-3, .container #projects .project-4, .container #projects .project-5, .container #projects .project-6, .container #projects .project-7, .container #projects .project-8 {
  height: 400px;
  text-align: center;
  padding: 20px; }
  .container #projects .project-1 p, .container #projects .project-2 p, .container #projects .project-3 p, .container #projects .project-4 p, .container #projects .project-5 p, .container #projects .project-6 p, .container #projects .project-7 p, .container #projects .project-8 p {
    margin-top: 30px;
    line-height: 1.2;
    font-size: 0.7rem;
    font-weight: 300; }

.container #projects .project-wrapper {
  display: inline-block;
  width: 100%;
  padding: 20px 0; }
  .container #projects .project-wrapper .col-1 {
    margin-bottom: -20px;
    margin-top: -20px; }
    .container #projects .project-wrapper .col-1 .project-1 {
      background: black;
      color: white; }
      .container #projects .project-wrapper .col-1 .project-1 h6 {
        padding-top: 50px; }
      .container #projects .project-wrapper .col-1 .project-1 h1 {
        font-size: 2rem;
        margin: 30px 0; }
      .container #projects .project-wrapper .col-1 .project-1 button {
        background: white;
        color: black;
        border: 1px solid white;
        padding: 5px 20px;
        cursor: pointer; }
        .container #projects .project-wrapper .col-1 .project-1 button:hover {
          color: white;
          background: #f786b9;
          border: 1px solid #f786b9;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
    .container #projects .project-wrapper .col-1 .project-2 {
      background: #d7d7d7; }
      .container #projects .project-wrapper .col-1 .project-2 img {
        width: 150px; }
  .container #projects .project-wrapper .col-2 .project-3 {
    background: #d7d7d7; }
    .container #projects .project-wrapper .col-2 .project-3 img {
      width: 150px; }
  .container #projects .project-wrapper .col-2 .project-4 {
    background: #f56401;
    color: white; }
    .container #projects .project-wrapper .col-2 .project-4 img {
      width: 150px; }
  .container #projects .project-wrapper .col-3 {
    margin-top: -20px; }
    .container #projects .project-wrapper .col-3 .project-5 {
      background: #214de4;
      color: white; }
      .container #projects .project-wrapper .col-3 .project-5 img {
        width: 150px; }
    .container #projects .project-wrapper .col-3 .project-6 {
      background: #d7d7d7; }
      .container #projects .project-wrapper .col-3 .project-6 img {
        width: 150px; }
  .container #projects .project-wrapper .col-4 .project-7 {
    background: #d7d7d7; }
    .container #projects .project-wrapper .col-4 .project-7 img {
      width: 150px; }
  .container #projects .project-wrapper .col-4 .project-8 {
    background: black;
    color: white; }
    .container #projects .project-wrapper .col-4 .project-8 img {
      width: 150px; }

.container #supporters {
  padding: 50px; }
  .container #supporters .supporter-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center; }
    .container #supporters .supporter-wrapper .col-1, .container #supporters .supporter-wrapper .col-2, .container #supporters .supporter-wrapper .col-3, .container #supporters .supporter-wrapper .col-4 {
      width: 25%;
      float: left; }
      .container #supporters .supporter-wrapper .col-1 img, .container #supporters .supporter-wrapper .col-2 img, .container #supporters .supporter-wrapper .col-3 img, .container #supporters .supporter-wrapper .col-4 img {
        height: 100px; }
    .container #supporters .supporter-wrapper .col-1 h1 {
      font-size: 2rem;
      font-weight: 100; }
    .container #supporters .supporter-wrapper .col-1 button {
      background: black;
      color: white;
      padding: 10px 60px;
      border: 1px solid black;
      text-transform: uppercase;
      margin-top: 50px;
      cursor: pointer; }
      .container #supporters .supporter-wrapper .col-1 button:hover {
        color: white;
        background: #f786b9;
        border: 1px solid #f786b9;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }

.container #thoughts {
  padding: 50px 80px;
  background: #f786b9;
  height: 550px; }
  .container #thoughts .left-col {
    width: 60%;
    float: left; }
    .container #thoughts .left-col h6 {
      font-weight: 900;
      text-transform: uppercase; }
    .container #thoughts .left-col img {
      height: 390px;
      margin-top: 50px; }
  .container #thoughts .right-col {
    width: 40%;
    float: right;
    margin-top: 64px; }
    .container #thoughts .right-col .row {
      display: block;
      height: 126px;
      position: relative; }
      .container #thoughts .right-col .row img {
        height: 100px;
        float: left; }
      .container #thoughts .right-col .row .text {
        float: right;
        width: 60%;
        padding-left: 40px;
        font-size: 0.7em; }
        .container #thoughts .right-col .row .text a {
          position: absolute;
          bottom: 22px;
          color: white; }
          .container #thoughts .right-col .row .text a:hover {
            color: #214de4;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out; }
    .container #thoughts .right-col .row:nth-child(1), .container #thoughts .right-col .row:nth-child(2) {
      border-bottom: 2px solid white; }
    .container #thoughts .right-col .row:nth-child(2), .container #thoughts .right-col .row:nth-child(3) {
      margin-top: 20px; }

footer {
  background: black;
  padding: 50px 80px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  footer h1 {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px; }
  footer p {
    color: white;
    line-height: 1.4;
    font-weight: 300;
    font-size: 0.8rem; }
  footer .contact {
    width: 40%;
    float: left; }
  footer .connect {
    width: 20%;
    float: left; }
    footer .connect i {
      color: white;
      font-size: 1.3em;
      cursor: pointer;
      margin-right: 15px; }
      footer .connect i:hover {
        color: #f786b9;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
  footer .subscribe {
    width: 30%;
    float: right; }
    footer .subscribe input {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1em;
      width: 100%; }

@media screen and (max-width: 1170px) {
  #thoughts {
    height: 1100px !important; }
    #thoughts .left-col {
      width: 100% !important; }
      #thoughts .left-col img {
        width: 100% !important; }
    #thoughts .right-col {
      width: 100% !important; } }

@media screen and (max-width: 940px) {
  nav {
    font-size: 0.7em; }
  #hero .left-hero {
    width: 100% !important; }
  #hero .right-hero {
    width: 100% !important; }
    #hero .right-hero .program {
      height: 300px !important;
      padding: 20px 80px; }
      #hero .right-hero .program h6, #hero .right-hero .program p {
        margin-left: 0 !important; }
      #hero .right-hero .program i {
        margin-right: 0 !important; }
  #about {
    text-align: center;
    padding-top: 200px !important; }
    #about .about-text {
      width: 100% !important;
      margin: 1040px auto 0 !important; }
      #about .about-text h6 {
        margin-top: 100px !important; }
      #about .about-text p {
        font-size: 1.6rem !important; }
  #projects .col-1, #projects .col-2, #projects .col-3, #projects .col-4 {
    width: 50% !important; }
  #projects .col-1, #projects .col-3 {
    margin-top: 0 !important; }
  #supporters .col-1, #supporters .col-2, #supporters .col-3, #supporters .col-4 {
    width: 50% !important; }
  footer {
    display: block;
    height: 550px; }
    footer .contact, footer .connect, footer .subscribe {
      width: 100%; }
    footer .connect, footer .subscribe {
      margin-top: 50px; }
    footer i {
      margin-right: 15px; } }

@media screen and (max-width: 850px) {
  header .nav-brand {
    font-size: 1.5rem !important;
    margin-top: 30px !important; }
  header nav li, header nav button {
    display: none !important; }
  header nav i {
    margin-right: 20px !important; }
  #about .about-text {
    width: 100% !important;
    margin: 1040px auto 0 !important;
    padding: 0 50px !important; } }

@media screen and (max-width: 600px) {
  p {
    font-size: 0.7em !important; }
  #about, .left-hero, .program, #supporters, #thoughts, footer {
    padding: 0 20px !important; } }

@media screen and (max-width: 500px) {
  p {
    font-size: 0.2em; }
  #hero .left-hero h1 {
    bottom: 200px !important;
    left: 50px !important; }
  #hero .left-hero button {
    bottom: 150px !important;
    left: 50px !important; }
  #about .about-text {
    width: 100% !important;
    margin: 1040px auto 0 !important;
    padding: 0 50px !important; }
    #about .about-text h6 {
      margin-top: 100px !important; }
    #about .about-text p {
      font-size: 1.2rem !important; }
  #projects .col-1, #projects .col-2, #projects .col-3, #projects .col-4 {
    width: 100% !important; }
    #projects .col-1 .project-1, #projects .col-1 .project-2, #projects .col-1 .project-3, #projects .col-1 .project-4, #projects .col-1 .project-5, #projects .col-1 .project-6, #projects .col-1 .project-7, #projects .col-1 .project-8, #projects .col-2 .project-1, #projects .col-2 .project-2, #projects .col-2 .project-3, #projects .col-2 .project-4, #projects .col-2 .project-5, #projects .col-2 .project-6, #projects .col-2 .project-7, #projects .col-2 .project-8, #projects .col-3 .project-1, #projects .col-3 .project-2, #projects .col-3 .project-3, #projects .col-3 .project-4, #projects .col-3 .project-5, #projects .col-3 .project-6, #projects .col-3 .project-7, #projects .col-3 .project-8, #projects .col-4 .project-1, #projects .col-4 .project-2, #projects .col-4 .project-3, #projects .col-4 .project-4, #projects .col-4 .project-5, #projects .col-4 .project-6, #projects .col-4 .project-7, #projects .col-4 .project-8 {
      padding: 50px !important; }
  #supporters .col-1, #supporters .col-2, #supporters .col-3, #supporters .col-4 {
    width: 100% !important; }
  #thoughts {
    padding: 50px 50px !important; } }
